*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(50, 167, 145);
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 80px;
    margin-left: 12px;
    padding: 6px;
}

.trybewarts-login{
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.trybewarts-login input {
    padding: 6px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
}

.trybewarts-login button {
   padding: 6px;
    border-radius: 4px;
    width: 100px;
    border: none;
}

#trybewarts-header-title {
    align-self: center;
    color: white;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

#evaluation-form {
    display: flex;
    width: 675px;
    flex-direction: column;
    flex-wrap: wrap;
}

#evaluation-form input {

    padding: 6px;
    margin-right: 10px;
    border-radius: 4px;
    width: 300px;
    height: 30px;
    margin-top: 15px;
}

#house {
    padding: 6px;
    width: 260px;
    height: 46px;
    margin-top: 15px;


}

#trybewarts-forms-logo {
    height: 500px;
}


h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
}

#evaluation-form label {

    align-self: center;
    font-size: 25px;
    margin-top: 15px;

}

#input-radio{
    width: 2%;
    
}


